@import url('https://fonts.googleapis.com/css?family=Montserrat:400:700');

* {
  box-sizing: border-box;
}

:root {
  --default-bg: #6B1E95;
  --medium-bg: #5C1A7F;
  --darker-bg: #2E0D40;

  --red-student: rgba(232, 44, 12, .65);
  --yellow-student: rgba(255, 178, 0, .65);
}

body {
  margin: 0;
  
  text-align: center;
  
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  
  color: white;
  background: var(--default-bg);
}

::-webkit-scrollbar { 
  display: none; 
}

button::-moz-focus-inner, select:focus::-moz-focus-inner,
button, select{
  border: 0;
  outline: 0;
}

/* -- COMPONENTES PADRÃO -- */

input {
  width: calc(50% + 120px);
  margin: .5rem 0;
  padding: 6px 8px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, .50);
  background: transparent;
  color: white;
}

input:focus {
  outline: 0;
}

button {
  margin: .5rem auto;
  padding: 8px 64px;
  border: none;
  background: white;
  color: var(--default-bg);
  border-radius: 4px;
}

select {
  padding: 12px 8px;
  
  color: var(--default-bg);
  border: none;
}

select::after {
  content: 'picanha';
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 var(--default-bg);
}

a {
  display: block;
  text-decoration: none;
  color: white;
}

/* MODIFICAÇÃO PARA O OVERLAY DO COMPONENTE MODAL */
.ReactModal__Content {
  border: none !important;
  cursor: default;
}

.ReactModal__Content::-moz-focus-inner {
  border: none !important;
}

.ReactModal__Overlay {
  background: rgba(0, 0, 0, .85) !important;
  cursor: pointer;
  z-index: 0;
}
