.expandable-container {
    display: block;
    width: 100%;
    height: auto;
    margin: 1rem 0;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 4px;
}

.expandable-container__title {
    cursor: pointer;
    user-select: none;
}

.expandable-container__render {
    display: none;
}

.expanded {
    display: block;
}

 /* verificar com a professora a questão do height: auto; não ativar a transition :( (resolver com sass?) */